

#btn_green {
    background-color:#7ca12a;   
}
#btn_gray {
    background-color:#c8c9c9;
}
#btn_blue {
    background-color:#5b8fe6;
}
#btn_orange {
    background-color:#f17842;
}
#btn_violet {
    background-color:#eb66eb;
}
#btn_red {
    background-color:#e84849;
}
#btn_cyan {
    background-color:#6fdee5;
}
.about_title{
    text-align:center;
}
.about__form.top{
    width: 100%;    
    flex-direction: column;
    justify-content: space-around;
    height:75px;
    cursor:pointer;
}
.about_btn{
    color:#ffffff;
    margin-right: 20px;
    width: 125px;
    height: 35px; 
    border-radius: 5px;
    border:none;
}
#btn_palegreen{
    background-color: #effeb9;
    color:#add42e;
    border:2px solid #98c601;
}
#btn_hotpink{
    background-color: #fbcbc1;
    color:#eb5439;
    border:2px solid #eb5439;
}
#btn_darkorange{
    background-color: #ffe9ad;
    color:#fab418;
    border:2px solid #fab418;
}
#btn_aqua{
    background-color: #d1e4f3;
    color:#6ea4d5;
    border:2px solid #4d8fcb;
}
.about__form.buttom{
    width: 100%;    
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    cursor: pointer;
}
.btn{
    width: 100%;
    height: 65px;
    background-color: violet;
}
.red-text{
    font-size:  36px;
    color:#f03c3c;
    font-family: 'HelveticaB';
}
.red-text.font {
    font-family: 'ChunkFive';
}
.about__desc{
    display:flex;
    width: 100%;
}
.about__men {
    width: 213px;
    height: 213px;
}
.about__text {
    font-size:12px;
    color:#414141;
    font-family: 'Helvetica';
}
.about__desc.text{
    display:flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 25px;
}
.about__desc__p{
    margin-right: 25px;
}


