/* slider */
.container #slider {
    width: 1200px;
    height: 100%;
    margin-top: 154px;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    margin-left: -3px;
    margin-right: -3px;
}
.col {
    padding: 3px;
    display: block;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333%;
}
.col-8 {
    width: 66.66667%;
}

#slider .item-top,
#slider .item-left,
#slider .item-right a,
#slider .item-bottom {
    width: 100%;
    display: block;
    position: relative;
}

#slider .item-top img {
    display: block;
    width: 100%;
    height: 77px;
}

.item-right a img,
#slider .item-left img {
    display: block;
    width: 100%;
}

#slider .item-right {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#slider .item-right:first-child {
    margin-bottom: 6px;
}

.item-bottom img {
    width: 100%;
    height: 118px;
}
.item-bottom .shadow {
    position: relative;
}

.item-bottom .shadow .img-shadow {
    position: absolute;
    left: 0;
    bottom: -24px;
    z-index: -1;
}

#slider .item-left {
    position: relative;
}
.item-left .blurd {
    background-image: url(../images/img/bg-blurb.gif);
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    text-align: left;
    width: 234px;
    padding: 30px;
    font-size: 12px;
}
.blurd p:first-child {
    font-family: 'ChunkFive';
    font-weight: 200;
    font-size: 24px;
    line-height: 22px;
}
.blurd p {
    font-family: 'Helvetica';
    line-height: 16px;
}
.blurd .btn-more {
    text-decoration: none;
    color: #fff;
    width: 54px;
    height: 12px;
    display: flex;
    justify-content: space-between;
}
.blurd .btn-more span{
    margin-left: 10px;
    line-height: 12px;
}

#slider .next,
#slider .previous {
    position: absolute;
    top: 36%;
    z-index: 4;
}
#slider .next {
    right: -14px;
}
#slider .previous {
    left: -14px;
}
#slider .overlay {
    opacity: 0;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100%;
}
#slider .overlay:hover {
    opacity: 1;
}
